// 1 - Fonts & FontIcons
// 2 - Sass Variables
// 3 - Globals
// 4 - Helpers
// 5 - Header
// 6 - Strate Carte
// 7 - Strate Bon Plan
// 8 - Modal Recherche
// 9 - Responsive
// 10 - Animations

@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i');

// 1 - Fonts & FontIcons
// Custom Font-Icon

@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon.eot?sd0v6p');
	src:  url('fonts/icomoon.eot?sd0v6p#iefix') format('embedded-opentype'),
	url('fonts/icomoon.ttf?sd0v6p') format('truetype'),
	url('fonts/icomoon.woff?sd0v6p') format('woff'),
	url('fonts/icomoon.svg?sd0v6p#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close-noir:before {
	content: "\e916";
}
.icon-close:before {
	content: "\e915";
}
.icon-fleche-droite:before {
	content: "\e913";
}
.icon-agenda:before {
	content: "\e914";
}
.icon-logo_fakecity:before {
	content: "\e900";
}
.icon-flower:before {
	content: "\e901";
}
.icon-pastille:before {
	content: "\e902";
}
.icon-marqueur:before {
	content: "\e903";
}
.icon-Instagram:before {
	content: "\e904";
}
.icon-Facebook:before {
	content: "\e905";
}
.icon-YouTube:before {
	content: "\e906";
}
.icon-enveloppe:before {
	content: "\e907";
}
.icon-voiture:before {
	content: "\e908";
}
.icon-brochures:before {
	content: "\e909";
}
.icon-panneau_circuits:before {
	content: "\e90a";
}
.icon-loupe:before {
	content: "\e90b";
}
.icon-famille:before {
	content: "\e90c";
}
.icon-billetterie:before {
	content: "\e90d";
}
.icon-ampoule:before {
	content: "\e90e";
}
.icon-chateau:before {
	content: "\e90f";
}
.icon-carte_interactive:before {
	content: "\e910";
}
.icon-fleche:before {
	content: "\e911";
}
.icon-panier:before {
	content: "\e912";
}

// Fonts 

@font-face {
	font-family: 'zooja';
	src: url('fonts/zooja-webfont.woff2') format('woff2'),
	url('fonts/zooja-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}


// Fonts & fontIcons

// 2 - Sass Variables
$white: #ffffff;
$black: #3f3e3e;
$grey: #ededed;
$green: #1dbbae;
$pink: #d4488a;
$orange: #d4925b;

$rubik : 'Rubik', sans-serif;
$zooja : 'zooja', sans-serif;
// Sass Variables

// 3 - Globals
body {
	font-family: $rubik;
	color: $black;
	font-weight: 100;
	font-size:15px;
}

section {
	padding-top:20px;
	padding-bottom:20px;
}

h1 {
	font-family: $zooja;	
}
// Globals

// 4 - Helpers

	//margin-top
	@for $i from 0 through 10 {
		.m-t-#{10*$i} {
			margin-top: 10px*$i; 
		}
	}

	//padding-top
	@for $i from 0 through 10 {
		.p-t-#{10*$i} {
			padding-top: 10px*$i; 
		}
	}

	//margin-bottom
	@for $i from 0 through 10 {
		.m-b-#{10*$i} {
			margin-bottom: 10px*$i; 
		}
	}

	//margin-top-bottom
	@for $i from 0 through 10 {
		.m-t-b-#{10*$i} {
			margin-top: 10px*$i; 
			margin-bottom: 10px*$i; 
		}
	}

	//padding-top-bottom
	@for $i from 1 through 10 {
		.p-t-b-#{10*$i} {
			padding-top: 10px*$i; 
			padding-bottom: 10px*$i; 
		}
	}

	.is-active {
		display:block !important;
	}

	.is-not-active {
		display:none;
	}

	.flt-left {
		float:left;
	}

	.flt-right {
		float:right;
	}

	.btn-green {
		background-color: $green;
		border-color: $green;
		color:$white;
	}

	.btn-green:hover {
		background-color: transparent;
	}

	.btn-black {
		border-color: $black;
		color:$black;
	}

	.btn-black:hover {
		background-color:$green;
		color:$white;
		border-color:$green;
	}

	.btn-orange {
		background-color: $orange;
		border-color: $orange;
		color:$white;
	}

	.btn-orange:hover {
		background-color: transparent;
	}

	.btn-round {
		border-radius: 24px;
	}

	.icontop {
		font-size: 32px;
		color:$green;
	}
// Helper


// 5 - Header/NavBae

.navbar {
	margin: 0;
	border:none;
}

.navbar-collapse {
	border:none;
}

.navbar-default .navbar-nav > li > a {
	color: $black;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: $green;
	background-color:$white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: $pink;

	background-color: transparent;
}

.navbar-default {
	background:$white;
	min-height: 80px;
}

.navbar-nav {
	font-weight: bold;
}

.navbar-nav > li > a {
	line-height: 44px;
	min-height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;   
}

.navbar-brand {
	line-height: 44px;
	width:108px;
}

.navbar-right > li > a > span {
	font-size: 30px;
}



.search {
	padding: 0 25px;
	border-left: 1px solid;
	border-right: 1px solid;
}

.navbar-toggle {
	top:14px;
}
// Header/NavBar

// 6 - Carte Interactive

#marqueur-first {
	position: absolute;
	top: 19%;
	left: 30%;
}

#marqueur-second {
	position: absolute;
	bottom: 19%;
	left: 15%;
}

#marqueur-third {
	position: absolute;
	bottom: 11%;
	right: 30%;
}



.bulle-carte {

	display:none;
	top: -90px;
	background-color: rgba(255, 255, 255, 0.93);
	position: absolute;
	color: #1dbbae;
	width: 200px;
	padding: 24px;
	border-radius: 50%;
	right: -78px;

	span {
		font-size: 30px;
	}

	h4 {
		font-size: 14px;
		font-weight: 600;
	}

	h5 {
		font-size: 13px;
		font-weight: 300;
		color: $black;
		padding:0 10px;
	}
}

#bulle-one {
	top: -16px !important;
}

.bulle-close {
	position: absolute;
	top: 10px;
	right: 33px;
	font-size: 22px;
	color: $black;
	cursor: pointer;
}

.marqueur-carte img {
	width:44px;
	cursor: pointer;
}

.logo-fakecity {
	position: absolute;
	left: 44%;
	top: 30%;
	width:115px;
}

#carte-interactive {
	min-height: 100vh;
	background: url(../images/photos/slider_01.jpg);
	background-size: cover;

	.container{
		color: $white;
		margin-top: 300px;

		h1{
			font-family: 'zooja';
			font-size: 100px;
		}
	}


}

.fleche-full {
	font-size: 60px;
}
// Carte Interactive

// 7 - Strate Bons Plans

#bons-plans {
	h2 {
		font-size:15px;
		font-weight: bold;
	}
}

.bons-bloc {
	min-height:400px;
	background-color:$grey;
	margin-left: 0;
	margin-right: 0;

	h4 {
		font-weight: 400;
	}
	h5 {
		font-weight: 400;
	}

	img {
		width: 220px;
		height: 220px;
	}	
	p {
		padding:10px;
	}		
}

.bons-bloc .row:nth-child(2) {
	min-height:250px;
}

.offre-spe {
	width: 70%;
}

.offre-spe:hover .offre-spe-info {
	background-color: $pink;
	color:$white;
}
.offre-spe:hover .offre-spe-icon {
	color: $pink;
}

.offre-spe-icon {
	font-size: 86px;
	color:$green;
}

.offre-spe-info {
	font-size: 16px;
	font-weight: 500;
	background-color:$green;
	margin-top:-33px;
	padding: 31px 86px 12px 86px;
	color: white;

	div {
		margin-top:5px;
	}
}

.offre-btn {
	color:$black;
}
//Srate - Bons Plans

// 8 - Modal Recherche

.modal-title {
	font-family: 'zooja';	
	font-size: 60px;
}

.modal-header {
	border: none;
}

.modal-cls-button {
	font-size: 55px;
	cursor: pointer;
}

.modal-transparent {
	background: transparent;
}
.modal-transparent .modal-content {
	background: transparent;
}
.modal-backdrop.modal-backdrop-transparent {
	background: #ffffff;
}
.modal-backdrop.modal-backdrop-transparent.in {
	opacity: .9;
	filter: alpha(opacity=90);
}
.modal-fullscreen {
	background: transparent;
}
.modal-fullscreen .modal-content {
	background: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
	background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
	opacity: .97;
	filter: alpha(opacity=97);
}


.modal-fullscreen .modal-dialog {
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

.search-form {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 20px;
	line-height: 1.42857143;
	color: $black;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-bottom: 3px solid $black;
	box-shadow: none;
	-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $black;
	}
	-moz-placeholder { /* Firefox 19+ */
		color: $black;
	}
	-ms-input-placeholder { /* IE 10+ */
		color: $black;
	}
	-moz-placeholder { /* Firefox 18- */
		color: $black;
	}
}

.search-form:focus {
	border-bottom: 3px solid $orange;
	outline: 0;
	box-shadow: none;
}
// Modal - Recherche

// 9 - Responsive

@media (min-width: 320px) {
	#carte-interactive {
		.container{
			margin-top: 145px;
			h1{
				font-size: 80px;
			}
		}
	}

	.offre-spe {
		margin-left:auto;
		margin-right:auto;
		width: 100%
	}
}

@media (min-width: 768px) {
	.modal-fullscreen .modal-dialog {
		width: 750px;
	}
	.nav > li > a {
		padding: 10px 8px;
	}
	.search {
		padding: 0 10px;
	}
	#carte-interactive > .container  {
		margin-top: 300px;
	}
	#carte-interactive > .container h1  {
		font-size: 100px;
	}

	.offre-spe {
		width: 70%
	}
	.navbar-brand {
		margin-left: -15px !important;
	}
	.logo-fakecity {
		position: absolute;
		left: 44%;
		top: 18%;
		width: 115px;
	}	
}

@media (min-width: 992px) {
	.modal-fullscreen .modal-dialog {
		width: 970px;

	}	
}

@media (min-width: 1200px) {
	.nav > li > a {
		padding: 10px 15px;
	}
	.modal-fullscreen .modal-dialog {
		width: 1170px;
	}
	.navbar-right {
		float: right !important;
		margin-right: 40px;
	}
	.search {
		padding: 0 28px;
	}
	#carte-interactive > .container  {
		margin-top: 300px;
	}
	#carte-interactive > .container h1  {
		font-size: 100px;
	}
	.navbar-brand {
		margin-left: 30px !important;
	}
	.logo-fakecity {
	    position: relative;
	    left: 0;
	    top: -43px;
	    width: 115px;
	}

}

@media (min-width: 1900px) {

	#carte-interactive > .container {
		margin-top: 370px;
	}
}

@media (max-width: 992px) {
	.offre-spe {
		float: none;
		margin-left:auto;
		margin-right:auto;
	}
}

// Responsive

// 10 - Animations
.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}

.animated.infinite {
	animation-iteration-count: infinite;
}

.animated.hinge {
	animation-duration: 1.5s;
}

.animated.long {
	animation-duration: 7s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
	animation-duration: .75s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fadeIn {
	animation-name: fadeIn;
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.fadeInDown {
	animation-name: fadeInDown;
}

@keyframes fadeInDownBig {
	from {
		opacity: 0;
		transform: translate3d(0, -2000px, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.fadeInDownBig {
	animation-name: fadeInDownBig;
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.fadeInLeft {
	animation-name: fadeInLeft;
}

@keyframes fadeInLeftBig {
	from {
		opacity: 0;
		transform: translate3d(-2000px, 0, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.fadeInLeftBig {
	animation-name: fadeInLeftBig;
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.fadeInRight {
	animation-name: fadeInRight;
}

@keyframes fadeInRightBig {
	from {
		opacity: 0;
		transform: translate3d(2000px, 0, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.fadeInRightBig {
	animation-name: fadeInRightBig;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.fadeInUp {
	animation-name: fadeInUp;
}

@keyframes fadeInUpBig {
	from {
		opacity: 0;
		transform: translate3d(0, 2000px, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.fadeInUpBig {
	animation-name: fadeInUpBig;
}

@keyframes shake {
	from, to {
		transform: translate3d(0, 0, 0);
	}

	10%, 30%, 50%, 70%, 90% {
		transform: translate3d(-10px, 0, 0);
	}

	20%, 40%, 60%, 80% {
		transform: translate3d(10px, 0, 0);
	}
}

.shake {
	animation-name: shake;
}

@keyframes flash {
	from, 50%, to {
		opacity: 1;
	}

	25%, 75% {
		opacity: 0;
	}
}

.flash {
	animation-name: flash;
}

// Animation


